@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#034755 ;
    box-sizing: border-box;
}

.cabecalho{
    border-radius: 25px;
    border-color: #034755;
    background-color: #2c6877;
    padding: 2% 0 0 15%;
    height: 100px;
}

.menu{
    display: flex;
    gap: 80px;
}



.link-cabecalho{
    color:white ;
    padding: 5px;
    width: 280px;
    height: 60px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #175866;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

.link-cabecalho:hover{
    background: #548999;
    color: white;
    font-size: 1.5em;
}

.apresentacao{
    gap: 82px;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteudo{
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color:#2c6877;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo-certificados{
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: #2c6877;;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.titulo-cursos{
    color: #22D4FD;
    font-size: 38px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--font-principal)
}

.subtitulo-cursos{
    text-decoration: underline;
    font-size: 2.25rem;
    font-family: var(--font-principal);
    color : #22D4FD;
}

.titulo{
    color: #22D4FD;
    font-size: 2.25rem;
    font-family: var(--font-principal)
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.texto{
    color: white;
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}

.email{
    text-decoration: underline;
    color: #22D4FD;
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}

.link-texto{
    color: #22D4FD;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}

.texto-cursos{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}

.subtitulo{
    color: #22D4FD;
    font-size: 25px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.subtitulo{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--font-principal)
}

.botao{
    color:white ;
    padding: 5px;
    width: 280px;
    height: 60px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #175866;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

.botao:hover{
    background: #548999;
    color: white;
    font-size: 1.5em;
}

.imagem{
    width: 50%;
    border-color: #22D4FD;
    border: 30px;
    border-radius: 25px;
}

.rodape{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 24px;
    font-family: var(--font-secundaria)
}

@media(max-width:1200px){
    .cabecalho{
        padding: 10%;
    }
    .menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .conteudo{
        width: auto;
    }
    }